body {
    margin: 0;
    padding: 0;
    background-color: #444444;

    font-family:  "Lucida Handwriting", "French Script MT","Freestyle Script", "MS Gothic", "Helvetica Neue", Helvetica, 'Orbitron', "Courier New", Arial, sans-serif;
    text-align: center;
}